footer{
    background-color:rgba(255,255,255,1.00);
    clear: both;
}
header >h1{
    text-align: center;
    color: #fff;
}
/*nav bar*/
nav{
    margin: 0 10px 20px 10px ;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
 nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: #524f4f;
  }
  
  nav .active {
    background-color: #ff0000;
  }
  
  
  background-image: url('path/to/your/image.jpg');
  


</style>
